/** A simple black theme that works best on light backgrounds **/
.a9s-annotationlayer .a9s-outer,
div[data-theme="dark"] .a9s-annotationlayer .a9s-outer {
  display: none;
}

.a9s-annotationlayer .a9s-inner,
div[data-theme="dark"] .a9s-annotationlayer .a9s-inner {
  fill: rgba(0, 0, 0, 0.12);
  stroke: #000;
  stroke-width: 1px;
}

rect.a9s-handle,
div[data-theme="dark"] rect.a9s-handle {
  fill: #000;
  rx: 2px;
}

rect.a9s-close-polygon-handle,
div[data-theme="dark"] rect.a9s-close-polygon-handle {
  fill: #000;
  rx: 1px;
}