/** A simple white theme that works best on dark backgrounds **/
.a9s-annotationlayer .a9s-outer,
div[data-theme="light"] .a9s-annotationlayer .a9s-outer {
  display: block;
  stroke: rgba(0, 0, 0, 0.25);
  stroke-width: 3.5px;
}

.a9s-annotationlayer .a9s-inner,
div[data-theme="light"] .a9s-annotationlayer .a9s-inner {
  fill: rgba(255, 255, 255, 0.15);
  stroke: #fff;
  stroke-width: 1.5px;
}

rect.a9s-handle,
div[data-theme="light"] rect.a9s-handle {
  fill: #fff;
  rx: 1px;
  stroke: rgba(0, 0, 0, 0.45);
  stroke-width: 1px;  
}

rect.a9s-close-polygon-handle,
div[data-theme="light"] rect.a9s-close-polygon-handle {
  fill: #fff;
  rx: 1px;
  stroke: rgba(0, 0, 0, 0.45);
  stroke-width: 1px;  
}