.a9s-annotationlayer {

  rect {
    fill:transparent;
    stroke-width:1px;
    cursor:pointer;
  }

  rect.inner {
    stroke:#fff;
  }

  rect.inner:hover {
    stroke:#fff000;
  }

  rect.outer {
    stroke:#000;
  }

}